<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">

  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>

  <styleBundle path="~/Resources/PNotify/css">
    <include path="~/Resources/node_modules/pnotify/dist/PNotifyBrightTheme.css" />
  </styleBundle>

  <styleBundle path="~/Resources/Bootstrap-DataTimePicker/css">
    <include path="~/Resources/DataTimePicker/bootstrap-datetimepicker.css" />
  </styleBundle>

</bundles>